.device-list-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;

  margin-top: 20px;
  
  width: 90%;
}

.device-list-container Link{
  text-decoration: none;
}

.device-list-container .item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  min-height: 200px;

  border: 4px solid #009aa8;
}

.device-list-container .item .device-type{
  display: flex;
  justify-content: center;
  padding: 10px 0;

  font-weight: 600;

  color: white;
  background-color: #009aa8;
}

.device-list-container .item .image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: #73f3ff;
}

.item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.device-list-container .item .owner {
  position: absolute;
  bottom: 0px;

  max-width: 80%;
  
  padding: 3px 10px;

  font-size: large;
  font-weight: 600;

  color: white;
  background-color: #009aa8;

  border-radius: 0 5px 0 0;
}

@media screen and (min-width: 900px) {
  .device-list-container{
    justify-content: stretch;
    gap: 30px;
  }

  .device-list-container .item{
    width: 300px;
    height: 300px;
  }

  .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}