.filter-item {
	padding: 5px 20px;

	color: #009aa8;
	border: #009aa8 solid 2px;
  border-radius: 20px;

	cursor: pointer;
}

.filter-item:hover,
.filter-item.active {
	color: white;
	background-color: #009aa8;
}
