.filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin: 10px;
	width: 90%;

	font-size: medium;
}

.filter-item {
	padding: 5px 20px;
	color: #009aa8;
	border-radius: 20px;
	margin-left: 5px;
}

.filter-item:hover,
.filter-item.active {
	color: white;
	background-color: #009aa8;
}

@media screen and (min-width: 900px) {
	.filter-item {
		border: #009aa8 solid 2px;

		cursor: pointer;
	}
}
