.sidebar{  
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  min-height: 100vh;
  background-color: #009aa8;
}

.sidebar a{
  text-decoration: none;
}

.sidebar .item.button{
  margin-top: auto;
  padding: 0;
  justify-content: center;
}

.sidebar .item.button p{
  margin: 0;
}