.sidebar-button{
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  background-color: transparent;

  cursor: pointer;
  z-index: 99;
}

.sidebar{
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #009aa8;
  transition: 300ms ease-out;
  z-index: 99;
}

.sidebar.inactive{
  width: 50px;
  height: 50px;
  background-color: transparent;
  overflow: hidden;
  
  transition: 300ms ease-in;
}

.sidebar.inactive .logo {
  opacity: 0;
}

.sidebar a{
  text-decoration: none;
}

.sidebar .item.button{
  margin-top: auto;
  padding: 0;
  justify-content: center;
}

.sidebar .item.button p{
  margin: 0;
}

@media screen and (min-width: 900px) {
  .sidebar-button{
    display: none;
  }
  
  .sidebar{  
    width: 250px;
    min-height: 100vh;
  }

  .sidebar.inactive{
    width: 250px;
  }
}