.declareForm {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;

	color: #009aa8;
}

.declareForm label {
	grid-column: 1;

	margin-top: 10px;
	margin-bottom: 2px;
}

.declareForm .input {
	grid-column: 2;
	margin-top: 2px;
	margin-bottom: 10px;
}

.declareForm label.image {
	grid-column: 2;
	width: stretch;
}

.col-span2 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	grid-column: 1/span 2;
}

button {
	padding: 10px;
	width: 200px;
	margin-top: 100px;

	color: white;
	font-weight: 600;
	border-radius: 10px;
	background-color: #009aa8;
	border: none;
}

button:hover {
	background-color: #07b9c9;
}

@media screen and (min-width: 900px) {
	.declareForm {
		min-width: 500px;
		max-width: 800px;
		display: grid;
		column-gap: 10px;
		grid-template-columns: 200px auto;
	}

	.declareForm .input {
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
