.paginator-container{
  display: grid;
  grid-template-columns: auto 100px;

  margin: 30px 50px;
  box-sizing: border-box;

  width: stretch;
  width: -webkit-fill-available;
}

.paginator-container .paginator-controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;

  color: #009aa8;
}

.paginator-container .paginator-controls .button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  box-sizing: border-box;

  cursor: pointer;
}

.paginator-container .paginator-controls button.button {
  width: fit-content;
}

.paginator-container .paginator-controls button.button:disabled {
  display: none;
}