.info-table{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  row-gap: 5px;

  padding: 20px;

  min-width: 500px;
  max-width: 800px;
  border: 2px dashed #009aa8;
}

.info-table div{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: #009aa8 solid 1px;
}

.info-table .title{
  font-weight: 600;
  color: white;
  background-color: #009aa8;
}

.info-table .images{
  grid-column: 1/span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  padding: 10px;
  
  width: 100%;
  height: 100%;

  border-bottom: 0;
}