.dropzone {
	display: flex;
	flex-direction: column;
}

.dropzone-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  max-width: stretch;

  color: white;
  background-color: #009aa8;
  border-radius: 5px;
  cursor: pointer;
}

.dropzone input{
  display: none;
}

.image-container{
	position: relative;
}

.image-container img{
	width: 100%;
}

.image-container .remove-image-button {
	width: fit-content;
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	bottom: 10px;
	right: 10px;

	background-color: rgb(221, 13, 13);
	cursor: pointer;
}

.image-container .remove-image-button:hover {
	background-color: rgb(255, 0, 0);
}

